.card {
    height: auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    padding: 0px 15px 20px 15px;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.price {
    font-size: 1.5em;
    font-weight: 600;
}

.button_container {
    width: 100%;
    display: flex;
   justify-content:space-around;
    
}

.button {
    padding: 10px 20px;
}